* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-logo {
  height: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#exercise {
  background: url(../public/img/glassesImage/background.jpg) no-repeat;
  background-size: cover;
  height: 150vh;
}
.item_change img {
  opacity: 0.9;
  margin-left: 96px;
  margin-top: 125px;
  width: 325px;
  height: 110px;
}
.item_glasses {
  width: 150px;
  height: 100px;
}
.text-detail {
  width: 400px;
  margin-left: 50px;
  padding-top: 150px;
}
